name: Compilar Cuicatl

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Instalar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Instalar Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Generar estructura Android
        run: flutter create . --project-name cuicatl_mplayer --org com.cuicatl

      # --- AQUÍ ESTÁ EL TRUCO ---
      # Usamos 'sed' para insertar las líneas de permisos en el archivo generado automáticamente
      - name: Inyectar Permisos Android
        run: |
          sed -i 's/<application/<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"\/>\n    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"\/>\n    <application/g' android/app/src/main/AndroidManifest.xml
          cat android/app/src/main/AndroidManifest.xml # Esto es para ver en el log si funcionó

      - name: Instalar dependencias
        run: flutter pub get

      - name: Construir APK
        run: flutter build apk --release --no-tree-shake-icons

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: cuicatl-real-player
          path: build/app/outputs/flutter-apk/app-release.apk
          
